{% extends "itreporting/base.html" %}

{% block content %}
  <h1>Modules</h1>
  <div class="course-list">
    {% for course in courses %}
      <div class="course-item card mb-3">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'itreporting:course-detail' course.id %}">
              {{ course.name }} ({{ course.code }})
            </a>
          </h5>
          <p class="card-text">{{ course.description|truncatewords:20 }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
